.map-container {

    width: 60vw;
    height: 60vh;
    padding: 0 ;
    margin-bottom: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .closeBut {
    margin: 0 auto;
    display: block;
    scale: 1.5;
    width: 50%;
  }
  
  .divBut {
    margin-top: 50px;
  }
  
  